html {
  background-color: grey;
  font-family: 'Pangolin', cursive;
}

h1 {
  font-size: 23pt;
  margin: 10px;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 20px;
}

.board {
  width: 500px;
  height: 430px;
  display: inline-block;
  margin: 10% 30%;
  text-align: center;
  background-color: white;
}

.tic-tac-toe {
  width: 280px;
  margin: auto;
  background-color: white;
}

.square {
  height: 80px;
  width: 80px;
  display: inline-block;
  border: 2px solid black;
}

.winner {
  margin-top: 23px;
}

.winner p {
  padding-bottom: 30px;
  font-size: 15pt;
}

#player-one {
  /*display: none;*/
}

#player-two {
  display: none;
}

#one-wins {
  display: none;
}

#two-wins {
  display: none;
}
